*{
    padding:0px;
    margin:0px;
}
body{
    /* background-color:grey; */
    background-color:indigo;
}
.main-container{
    
    
    width:40%;
    margin:auto;
    height: 40%;
    background-color:#f3efef;
    padding-top:1rem;
    /* padding-left:4rem; */
    padding-bottom: 4rem;
    display:flex;
    flex-direction: column;
    text-align:center;
    box-shadow: 5px 5px gray;
    border-radius:4rem;
    
}
.dbay-inputs{
    width:60%;
    left:10rem;
    right:2px;
    margin-top:2rem;
    }
.label{
    display:inline;
}.btn{
    width:15%;
    padding:0.5rem;
    margin-top: 1rem;
    border:none;
    cursor:pointer;
    background-color:violet;
    border-radius:2rem;
    font-weight: bold;
    
}
h3{
    align-items:center;
}
.pall{
    font-size:large;
    font-weight:bold;
    color:blue;
    margin-bottom:2rem;
    text-align:center;
}
.btn-container{
    text-align:center;
}

.dbay-inputs{
    padding:1rem;
}
.output{
    margin-top:1rem;
}